.company_logo{
    margin-left: 215px;
    width: 115px;
    height: 115px;
    display: block;
}

.company_logobig{
    margin-left: 13px;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    display: block;
}