.marketStatus{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-weight: bold;
}
.marketStatusbig{
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-size: 15px;
    font-weight: bold;
}