.price{
    margin-left: 250px;
    text-align: center;
}

.lastPrice{
    font-weight: bold;
}

.priceChanges{
    display: flex;
    flex-direction: row;
}
.change {
    font-size: 23px;
    font-weight: bold;
    margin-right: 10px;

}
.percent{
    font-size: 23px;
    font-weight: bold;
}
  
  .triangle {
    font-size: 17px;
    margin-right: 5px;
  }
  
  .up {
    color: green;
  }
  
  .down {
    color: red;
  }
  .pricebig{
    margin-left: 13px;
    margin-right: 10px;
    text-align: center;
  }
  .changebig {
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
}

.percentbig{
    font-size: 17px;
    font-weight: bold;
}
.datebig{
    margin-top: 10px;
    font-size: 12px;
}
  /* @media (max-width: 844px) {
    .date{
        margin-top: 10px;
        font-size: 12px;
    }
  } */

  