.stock-main{
    display: flex;
    flex-direction: row;  
    justify-content: center;
}

.stock-column{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.row1 {
    display: flex;
    flex-direction: row;
}

.column1 {
    display: flex;
    flex-direction: column;
}
.ticker_text{
    margin-right: 16px;
    margin-left: 20px;
}
.favorite_icon{
    width: 20px;
    margin-bottom: 10px;
}
.companyName{
    font-size: 25px;
    color: grey;
    display: flex;
    justify-content: start;
    margin-left: 20px;
}
.buy_button{
    margin-left: 10px;
}

.sell_button{
    margin-left: 10px;
}

.messageFavorite{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 60px;
    background-color: #DBEAE2;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.messageFavorite.added{
    background-color: #DBEAE2;
    color: #449062;
}
.messageFavorite.removed{
    background-color: #F4D2D2;
    color: #D8000C;
}

.buy_column{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.buy_button2{
    background-color: #449062;
    color:white;
    border: none;
    padding: 5px 15px;
    border-radius: 7px;
}
.exchangebig{
    font-size: 16px;
    display: flex;
   text-align: center;
   margin-left: 10px;
}

.progressIndicator{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}