.stock-main{
    display: flex;
    flex-direction: row;  
    justify-content: center;
}
@media (max-width: 844px) {
    .stock-main{
        display: flex;
        flex-direction: row;  
        justify-content: start;
    }
}

.stock-column{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}