.watchlist{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 50px;
    margin-right: 350px;
}

.rowwatchlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.watchlistText{
    margin-bottom: 40px;
}

.watchlistbig{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 40px;
}
.watchlistnone{
    background-color: #FCF1CD;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F7D488;
}

.watchlistnonebig{
    background-color: #FCF1CD;
    height: 50px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    width: 95%;
    border: 1px solid #F7D488;
}

.progressIndicator2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}