.mainTextInsider {
    font-size: 28px;
    font-weight: 600;
    color: #000;
    margin-top: 0px;
}

.table {
    border-collapse: collapse;
    width: 30%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:last-child {
    border-bottom: none;
}

.heading1{
    font-weight: bold;
}

.rowInsights{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
   margin-left: 150px;
   margin-right: 150px;
margin-bottom: 80px;
}
.mainTextInsiderbig {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tablebig{
    width: 100%;
    margin-bottom: 20px;
}
.rowInsightsbuy{
display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.recommendationChartbuy{
    margin-bottom: 40px;
}
