.topNews {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 50%;
}