.topNews {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.item5 {
    width: 50%;
}

@media (max-width: 768px) {
    .topNews {
        margin-left: 0px;
        margin-right: 0px;
    }
    .item5 {
        width: 100%;
    }
}