.topNews {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.item5 {
    width: 50%;
}

.item5big {
    width: 100%;
}

.topNewsbig {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
}