@media (max-width: 844px) {
    .swiper1{
        display: block !important;
        margin-top: 20px;
        /* width: 390px; */
    }
    .swiper2{
        margin-left:20px;
        margin-right: 10px;
    }
    .tab-content{
        display: none;
    }
}
.swiper1{
    display: none;
}

.css-1vimobo {
    max-width: 350px;
  }