.stock_navbar{
  background-color: #19239A;
}

.stock_navbar a:hover, .stock_navbar .navbar_brand:hover, .stock_navbar .navbar_brand {
  color: #e0e1f1;
}

.stock_navbar a, .stock_navbar a:active{
color:#777AC0
}

.stock_navbar .navbar_toggle{
  color: #969BE2;
  border-color: #2b2ab1;
  padding: 2px;
}

.stock_navbar .navbar-container{
  padding: 0px 30px;
  margin: 0;
  max-width: 100%;
}

.stock_navbar .active {
  border: 2px solid #777AC0;
  border-radius: 15px;
}
.stock_navbar .navbar-nav .nav-link.active{
  color: #777AC0;
}
.stock_navbar .nav-link {
  color: #777AC0;
  padding: 10px;
}

