.portfolio{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 50px;
    margin-right: 350px;
}

.rowportfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.portfolionone{
    background-color: #FCF1CD;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F7D488;
}